/* extionsion sizing */
* {
  box-sizing: border-box;
}

/* global style */
html {
  background-attachment: fixed;
  color: #9cdcf5;
  text-align: center;
}

/* html body style */
body {
  color: #a50303;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 0em 0 0em;
  text-align: center;
}

/* footer font */
h6 {
  color: #c97874;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  padding: 2em 0 0em;
}

/* calculla title font */
h1 {
  font-weight: 300;
  margin: 0;
}

/* currency title font */
h3 {
  color: #a50303;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
  padding: 2em 0 0em;
}

/* warning message */
.warning {
  background: -webkit-linear-gradient(45deg, #df94f1 10%, #463042 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000000;
  font-weight: 400;
  margin: 0 auto 0em;
  max-width: 10em;
}

/* claculator style */
.calculator {
  font-size: 18px;
  margin: 0 auto;
  width: 11em;
  text-align: center;
}

/* calculator display box before and after */
.calculator::before,
.calculator::after {
  content: ' ';
  display: table;
}

/* clear display box content after */
.calculator::after {
  clear: both;
}

/* calculator display box */
.viewer {
  color: #c97874;
  float: left;
  line-height: 2em;
  text-align: right;
  text-overflow: clip;
  overflow: auto;
  width: 8em;
  height: 2em;
}

/* calculator buttons */
button {
  border: 2;
  background: white;
  color: #000000;
  cursor: pointer;
  float: left;
  font: inherit;
  font-size: 18px;
  margin: 0em;
  width: 2.5em;
  height: 2.5em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover effect on calculator buttons */
button:hover {
  background: #c97874;
}

/* focus effect on calculator buttons */
button:focus {
  outline: 0;
}

/* after focus event on calculator buttons */
button:focus::after {
  -webkit-animation: zoom 1s;
  animation: zoom 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  content: attr(data-num);
  cursor: default;
  font-size: 100px;
  position: absolute;
  top: 1.5em;
  left: 50%;
  text-align: center;
  margin-left: -24px;
  opacity: 0;
  width: 48px;
}

/* after focus */
.ops:focus::after {
  content: attr(data-ops);
  margin-left: -210px;
  width: 420px;
}

/* equal button after focus */
.equals:focus::after {
  content: attr(data-result);
  margin-left: -300px;
  width: 600px;
}

/* previous result button */
.pResult {
  text-align: center;
  margin-left: 11%;
}

/* currency title */
.currency {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

/* add and remove currency button */
.btn {
  border: 2;
  background: #c97874;
  color: white;
  cursor: pointer;
  float: left;
  font: inherit;
  font-size: 20px;
  margin: 0em;
  width: 5em;
  height: 2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover effect on add and remove currency button */
.btn:hover {
  background: white;
  color: #000000;
}

/* currency display box */
.currencyDisplay {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
